# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3

# Env
.env
.env.*
!.env.example

# Alembic
alembic.ini
migrations/versions/*

# IDE/editor
.vscode/
.idea/
*.swp
.DS_Store

# Bytecode + logs
*.log
*.out
*.err

# Tests / coverage
.pytest_cache/
.coverage
htmlcov/
