# fly.toml app configuration file generated for naijaprizegate-bot on 2026-02-26T11:19:18Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#
app = "naijaprizegate-bot"
primary_region = "ams"

[http_service]
internal_port = 8000
force_https = true
auto_start_machines = true
auto_stop_machines = false
min_machines_running = 1
processes = ["app"]

[[vm]]
cpu_kind = "shared"
cpus = 1
memory = "1gb"
memory_mb = 2048
